* {
    box-sizing: border-box;
}

body {
    width: 480px;
    margin: 100px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

input {
    width: 100%;
    font-size: 18px;
    padding: 4px 8px;
    margin: 8px 0;
}

.right-btns {
    display: flex;
    justify-content: flex-end;
}
