main {
    display: flex;
    flex-flow: column;
    gap: 16px;
    width: 300px;
    margin: 100px auto;
    border: 1px solid silver;
    border-radius: 8px;
    padding: 16px;
}

input, button, textarea {
    font-size: 18px;
    padding: 4px 8px;
}